*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: rgb(240, 240, 240);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
               "Liberation Mono", "Courier New", monospace;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #121212;
  color: rgb(240, 240, 240);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
               "Liberation Mono", "Courier New", monospace;
}