.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
.DS_Store

client/node_modules/
client/dist/
client/.angular/
client/coverage/

server/**/wwwroot/**
!server/**/wwwroot/.gitkeep

**/bin/
**/obj/
**/TestResults/
**/*.csproj.user

*.log